.attandace-btn-wrapper {
    
    display: flex;
    justify-content: end;
    gap: 1.5rem;
}
.attandace-btn {
    color: white;
    background-color: rgb(4, 4, 196);
}
.attandace-btn:hover {
    color: white;
}
.attandace-word {
    margin: 0.7rem;
}
.attandace-words {
    margin: 0.7rem;
}
.attandace-farm {
    align-items: center;
    background-color: rgb(243, 240, 240);
}