th,
td {
    font-size: 14px;
}
.attandace-btn-wrapper {
    display: flex;
    justify-content: end;
    gap: 1.5rem;
}
.attandace-btn:hover {
    color: white;
}
/* .attandace-word {
    margin: 0.7rem;
}
.attandace-words {
    margin: 0.7rem;
} */
.attandace-farm {
    align-items: center;
    background-color: rgb(253, 244, 244);
}
