#sidebar {
  .sidebar_logo {
    padding-right: 54px;
    padding-top: 25px;
    padding-bottom: 22px;
  }
  .sidebar_menu {
    .active {
      background: rgba(85, 66, 246, 0.2);
      border-radius: 4px;
    }
    .sidebar_link {
      display: flex;
      padding: 16px 12px;
      align-items: center;
      img {
        display: block;
        width: 18px;
        height: 18px;
        color: #84818a;
      }
      p {
        margin: 0;
        padding-left: 19px;
        font-weight: 600;
        line-height: 20px;
        font-size: 14px;
      }
      &:hover {
        background: rgba(85, 66, 246, 0.3);
      }
    }
  }
}
